<html>
<head>
    <title>
        Sistema de control de Ingreso
    </title>
</head>
<body>
    <h1>Mantenimientos</h1>
    <hr>
    <h3>Opciones</h3>
    <ul>
        <li><a href=/m_areas_listado>Areas</a></li><br>
        <li><a href=/m_cargos_listado>Cargos</a></li><br>
    </ul>
</body>
</html>
